{% extends 'base.html.twig' %}

{% block title %}Edit Artisty{% endblock %}

{% block body %}
    <h1>Edit Artisty</h1>

    {{ include('artisty/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_artisty_index') }}">back to list</a>

    {{ include('artisty/_delete_form.html.twig') }}
{% endblock %}
