{% extends 'base.html.twig' %}

{% block title %}New Artisty{% endblock %}

{% block body %}
    <h1>Create new Artisty</h1>

    {{ include('artisty/_form.html.twig') }}

    <a href="{{ path('app_artisty_index') }}">back to list</a>
{% endblock %}
